GEMINI_API_KEY=AQ.Ab8RN6LPcRzqtQ4Z26uu3u-gQfw7FBddWUzS-Hs7ZK8GwZpugw
TAVILY_API_KEY=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

GEMINI_CHAT_MODEL=gemini-3.5-flash
GEMINI_EMBEDDING_MODEL=models/gemini-embedding-2

DATABASE_URL=sqlite:///./data/internly.db
CHROMA_DIR=./data/chroma
NUM_INTERVIEW_QUESTIONS=3
TOP_DSA_QUESTIONS=10
